@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.lobster-font {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.graph-background-responsive {
  @media (min-width: 640px) {
    background-image: url('./assets/GraphBG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
