@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.lobster-font {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.graph-background-responsive {
  @media (min-width: 640px) {
    background-image: url('./assets/GraphBG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@keyframes shimmer {
  0% {
    background-position: -700px 0;
  }
  100% {
    background-position: 700px 0;
  }
}

.animate-shimmer {
  background: linear-gradient(
    90deg,
    #e5e7eb 0%,
    #f3f4f6 50%,
    #e5e7eb 100%
  );
  background-size: 700px 100%;
  animation: shimmer 2.0s infinite linear;
}
